DATABASE_URL=
DIRECT_URL=
NEXTAUTH_SECRET=
NEXTAUTH_URL=
LIFECYCLE_CLEANUP_SECRET=

AWASH_PAYMENT_RECIPIENT_NAME=
AWASH_TELEBIRR_MERCHANT_NUMBER=
AWASH_CBE_ACCOUNT_HOLDER_NAME=
AWASH_CBE_ACCOUNT_NUMBER=
